@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins' as *;
@use '../../scss/abstracts/font' as *;

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0 50px;
    border-bottom: 1px $gray solid;

    h1{
        font-family: $font-sans;
        font-weight: bold;
        color: $prime-color;
    }
    img{
        width: 80px;
    }
}
