@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins' as *;
@use '../../scss/abstracts/font' as *;

.task {
   width: 600px;
   padding: 10px 20px;
   background-color: $light-color;
   font-family: $font-sans;
   cursor: pointer;
   border-radius: 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   margin: 10px;
   .title {
        color: #805333;
        font-size: 20px;
        margin-left: 40px;
    }


    .assignee {
        padding: 12px;
        color: white;
        background-color: $prime-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 800;
    }


    .status {
        padding: 10px;
        background-color: $dark-color;
        color: #fff;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        margin-right: 10px;
    }
}