@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins' as *;
@use '../../scss/abstracts/font' as *;

.task {
    width: 600px;
    padding: 10px 20px 10px 0px;
    background-color: $light-color;
    font-family: $font-sans;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    .icon {
        width: 40px;
        padding-bottom: 5px;
    }
   .list {
        color: $dark-color;
        font-size: 20px;
        margin-left: 10px;
        display: flex;
        align-items: center;
        .title {
            padding-left: 10px;
        }
    }
    .assignee {
        padding: 12px;
        color: white;
        background-color: $blue;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 800;
    }
}
.task:hover, .task.active{
    background-color: $active-light;
}