@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins' as *;
@use '../../scss/abstracts/font' as *;

.status {
    padding: 10px;
    background-color: $dark-color;
    color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    border: 0px;
    border-radius: 10px;
    margin-right: 10px;
}