// abstracts
@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins' as *;
@use '../../scss/abstracts/font' as *;

.task-detail{
    padding: 10px;
    color: $dark-color;
    .title{
        font-weight: bold;
        font-size: 20px;
    }
    .description{
        margin: 10px 0;
        padding: 20px 0;
        border-top: $border;
        border-bottom: $border;

    }
}